<!-- views/index.ejs -->

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        <title><%= title %></title>
    </head>
    <body>
        <h1><%= greeting %><br>
        <a href="/about">About me</a>
         <a href="/tweets">Tweets</a>
    </body>
</html>
